.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  min-width: 320px;
  border: 1px solid gray;
  grid-template-columns: repeat(8, minmax(5vw, 1fr));
}

.cell {
  min-height: 5vw;
  box-sizing: border-box;
  cursor: pointer;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

.selected {
  background-color: cornflowerblue;
}

.highlighted {
  background-color: cadetblue !important;
}

.knight_img {
  display: block;
  width: 5vw;
}

.container {
  height: 100vh;
}

.select_theme {
  display: block;
  margin: 1rem auto;
}

.dark {
  background-color: #000;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}
